ultralight/**
!ultralight/readme.txt
**/obj/**
*.dll
*.exe
*.pdb
*.ilk
hb_out.log
.vs
result.png
*.7z
*.zip
*.lib
*.hbx
*.so
*.a
*bin
sampleBrowser/cookies.dat
TestCpp
ultralight_old
release/**

test/**
